body {
    margin: 0;
    padding: 0;
    
 }
 form {
     width: 100%;
    height: 45rem ;
    display: flex;
 }
 #container_left{
     width: 45%;
     height: 45rem;
     background-color: white;
 }
 #title{
     width: 100%;
     height: 3rem;
     padding-left: 2rem;
     background-color: white;
     margin-top: 1.5rem;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 1.5rem;
     font-weight: bold;
 }
 #title_2{
     width: 100%;
     height: 10rem;
     background-color: white;
     text-align: center;
     font-family: 'Open Sans';
     font-size: 2.5rem;
     font-weight: bold;
     color: #3A3F5A;
 }
 #registros{
    margin-top: 3rem;
    width: 100%;
    height: 10rem;
    text-align: center;
 }
 #form_usuario{
    width: 80%;
    height: 100%;
    margin-left: auto;
     margin-right:auto
 }
 #botones{
     margin-top: 4rem;
     width: 100%;
     height: 6rem;
 }
 #t_botones{
     width: 100%;
     height: 1.5rem;
     padding-right: 8rem;
     text-align: right;
 }
 #b_botones{
     width: 100%;
     height: 4.5rem;
     display: flex;
 }
 #caja_btn_acceder{
     width: 50%;
     height: 4.5rem;    
 }
 #caja_btn_registrar{
    width: 50%;
    height: 4.5rem;
 }
 #btn_acceder{
     width: 70%;
     height: 100%;
     margin-left: auto;
     margin-right: auto;
    background-color: white;
     border-radius: 12px;
     border: 3px solid black; 
     font-family: 'Open Sans';
     font-size: 1.5rem;
     font-weight: bold;
     cursor: pointer;
     color: black;
 }
 #btn_acceder:hover{
color: white;
background-color: black;

 }
 #btn_registrar{
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 12px;
    border: 3px solid black; 
    font-family: 'Open Sans';
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
}
#btn_registrar:hover{
    color: black;
    background-color:white;
    
     }

 
 #imagen_rigth{
    width: 55%;
    height: 45rem;
    background-color: white;
 }